@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@custom-variant dark (&:is(.dark *));

html,
body {
  width: 100dvw;
  height: 100dvh;
  box-sizing: border-box;
}

@theme inline {
  --font-heading: var(--font-manrope);
  --font-body: var(--font-inter);
  --font-sans: "Geist Variable", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /* Custom */
  --color-my-primary: #005fb8;
  --color-my-primary-100: #ecf0ff;
  --color-my-primary-200: #d6e3ff;
  --color-my-primary-300: #a8c8ff;
  --color-my-primary-400: #78acff;
  --color-my-primary-500: #5191ed;
  --color-my-primary-600: #3177d1;
  --color-my-primary-700: #005db5;
  --color-my-primary-800: #00468b;
  --color-my-primary-900: #003062;
  --color-my-primary-1000: #001b3d;

  --color-my-secondary: #2eb8b8;
  --color-my-secondary-100: #adfffe;
  --color-my-secondary-200: #d6e3ff;
  --color-my-secondary-300: #a8c8ff;
  --color-my-secondary-400: #78acff;
  --color-my-secondary-500: #5191ed;
  --color-my-secondary-600: #3177d1;
  --color-my-secondary-700: #005db5;
  --color-my-secondary-800: #00468b;
  --color-my-secondary-900: #003062;
  --color-my-secondary-1000: #001b3d;

  --color-my-tertiary: #f0642f;
  --color-my-tertiary-100: #ffede8;
  --color-my-tertiary-200: #ffdbcf;
  --color-my-tertiary-300: #ffb59c;
  --color-my-tertiary-400: #ff8b63;
  --color-my-tertiary-500: #f16530;
  --color-my-tertiary-600: #ce4c17;
  --color-my-tertiary-700: #ab3600;
  --color-my-tertiary-800: #822700;
  --color-my-tertiary-900: #5c1900;
  --color-my-tertiary-1000: #390c00;

  --color-my-neutral: #5f6368;
  --color-my-neutral-100: #eef1f7;
  --color-my-neutral-200: #dfe3e8;
  --color-my-neutral-300: #c3c7cc;
  --color-my-neutral-400: #a8abb1;
  --color-my-neutral-500: #8d9196;
  --color-my-neutral-600: #73777d;
  --color-my-neutral-700: #5b5f64;
  --color-my-neutral-800: #43474c;
  --color-my-neutral-900: #2d3135;
  --color-my-neutral-1000: #181c20;

  /* Text */
  --text-8: 8px;
  --text-10: 10px;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-22: 22px;
  --text-24: 24px;
  --text-26: 26px;
  --text-28: 28px;
  --text-30: 30px;
  --text-32: 32px;
  --text-34: 34px;
  --text-36: 36px;
  --text-38: 38px;
  --text-40: 40px;
  --text-42: 42px;
  --text-44: 44px;
  --text-46: 46px;
  --text-48: 48px;
  --text-50: 50px;
  --text-52: 52px;
  --text-54: 54px;
  --text-56: 56px;
  --text-58: 58px;
  --text-60: 60px;
  --text-62: 62px;
  --text-64: 64px;
  --text-66: 66px;
  --text-68: 68px;
  --text-70: 70px;
  --text-72: 72px;
  --text-74: 74px;
  --text-76: 76px;
  --text-78: 78px;
  --text-80: 80px;
  --text-82: 82px;
  --text-84: 84px;
  --text-86: 86px;
  --text-88: 88px;
  --text-90: 90px;
  --text-92: 92px;
  --text-94: 94px;
  --text-96: 96px;
  --text-98: 98px;
  --text-100: 100px;
  --text-102: 102px;
  --text-104: 104px;
  --text-106: 106px;
  --text-108: 108px;
  --text-110: 110px;
  --text-112: 112px;
  --text-114: 114px;
  --text-116: 116px;
  --text-118: 118px;
  --text-120: 120px;

  /* Spacing */
  --space-0: 0px;
  --space-4: 4px;
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-28: 28px;
  --space-32: 32px;
  --space-36: 36px;
  --space-40: 40px;
  --space-44: 44px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-80: 80px;
  --space-96: 96px;
  --space-112: 112px;
  --space-128: 128px;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
